body {
    margin: 0px;
}

li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 70px;
}

.button {
    border: 0px;
    padding: 5px 10px;
    border-radius: 4px;
    font-weight: bolder;
}

.button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.mainButton{
    background-color: #0392aa;
    color: white;
}
.mainButton:hover {
    box-shadow: 2px 2px #024e5c;
    transform: scale(1.1);
}

.secondaryButton {
    background-color: #49aa03;
    color: white;
}
.secondaryButton:hover {
    box-shadow: 2px 2px #275019;
}

.buscar {
    background-color: white;
    border: 1px solid gray;
    padding: 2px;
    border-radius: 4px;

}

.buscar:focus-within {
    border: 1px solid blue;
}

.buscar > input {
    outline: none;
    border: 0px;
}
